<p id="notice"><%= notice %></p>

<p>
  <strong>Selleruser:</strong>
  <%= @retoforder.selleruser_id %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @retoforder.userid %>
</p>

<p>
  <strong>Usertab:</strong>
  <%= @retoforder.usertab %>
</p>

<p>
  <strong>Textout:</strong>
  <%= @retoforder.textout %>
</p>

<p>
  <strong>Userip:</strong>
  <%= @retoforder.userip %>
</p>

<%= link_to 'Edit', edit_retoforder_path(@retoforder) %> |
<%= link_to 'Back', retoforders_path %>
