<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>收获地址管理</h3>
    </div>
    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">收货人</th>
          <th class="text-center">联系电话</th>
          <th class="text-center">行政区</th>
          <th class="text-center">收货地址</th>
          <th class="text-center">是否选中地址</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @recepitaddres.each do |recepitaddre| %>
            <tr>
              <td><%= recepitaddre.name %></td>
              <td><%= recepitaddre.tel %></td>
              <td><%= recepitaddre.region %></td>
              <td><%= recepitaddre.address %></td>
              <td><% if recepitaddre.choice == 1 %>

                    已选

                    <% else %>

                    未选

                    <% end %>
              </td>
              <td>

                <%= link_to '编辑',edit_recepitaddre_path(recepitaddre) %>
                <%= link_to '删除', recepitaddre,
                            method: :delete,
                            data: { confirm: '确认删除?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to "新增",new_recepitaddre_path,class: "btn btn-w-m btn-primary pull-right" %>
      <br>
    </div>
  </div>
</div>
<%=render 'layerend' %>