
<div class="ibox-content form-horizontal m-t">
  <div class="form-group">
    <%= form_for(@weixinlog,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>

        <div class="form-group">
          <label class="col-sm-3 control-label">地址参数：</label>
          <div class="col-sm-6">
            <%= f.text_field :url,class:"form-control",id:'name' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">body参数：</label>
          <div class="col-sm-6">
            <%= f.kindeditor :log,class:"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"></label>
          <div class="col-sm-6 text-right">
            <%= f.submit '确定',class: "btn btn-w-m btn-primary",id:'smt' %>&nbsp;<%= link_to "返回",weixinlogs_path,class: "btn btn-w-m btn-primary " %>
          </div>
        </div>
    <% end %>
  </div>
</div>