<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>商家管理</h3>
    </div>
    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">地址参数</th>
          <th class="text-center">body参数</th>
          <th class="text-center">创建时间</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @weixinlog.each do |weixinlog| %>
            <tr>
              <td><%= weixinlog.url %></td>
              <td><%= weixinlog.log %></td>
              <td><%= weixinlog.created_at %></td>
              <td>
                <%= link_to '编辑',edit_weixinlog_path(weixinlog) %>
                <%= link_to '删除', weixinlog, method: :delete, data: { confirm: '确认删除?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="btn-group  btn-w-m pull-right" role="group">
        <%= link_to "新增",new_weixinlog_path,class: "btn btn-w-m btn-primary " %>
      </div>
      <br>
    </div>
  </div>
</div>
<%=render 'layerend' %>