<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>通告</h3>
    </div>
    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">通告</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @notices.each do |notice| %>
            <tr>
              <td><%= notice.noticeimg %></td>
              <td>
                <% if @seller%>
                    <%= link_to '编辑',edit_seller_notice_path(@seller,notice) %>
                    <%= link_to '删除', notice, method: :delete, data: { confirm: '确认删除?' } %>
                <%else%>
                    <%= link_to '编辑',edit_notice_path(notice) %>
                    <%= link_to '删除', notice, method: :delete, data: { confirm: '确认删除?' } %>
                <%end%>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <% if @seller%>
          <%= link_to "返回",seller_path(@seller),class: "btn btn-w-m btn-info " %>
      <%end%>
      <div class="btn-group  btn-w-m pull-right" role="group">
        <% if @seller%>
            <%= link_to "新增",new_seller_notice_path,class: "btn btn-w-m btn-primary " %>
        <%else%>
            <%= link_to "新增",new_notice_path,class: "btn btn-w-m btn-primary " %>
        <%end%>
      </div>
      <br>
    </div>
  </div>
</div>
<%=render 'layerend' %>