<%= render 'layerbegin' %>
<div class="ibox-content m-b-sm border-bottom">
  <div class="p-xs">
    <div class="pull-left m-r-md">
      <img src=<%= @seller.sellerimage.url %> width="120px"  >
    </div>
    <h2><%= @seller.shortname %></h2>
    <span><%= @seller.name %></span>
  </div>
</div>

<div class="row">

  <a href=<%= seller_admins_path(@seller)%>>
    <div class="col-sm-3">
      <div class="widget style1 blue-bg">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-user fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> 管理员 </span>
            <h2 class="font-bold">32</h2>
          </div>
        </div>
      </div>
    </div>
  </a>


  <a href=<%=seller_productclas_path(@seller) %> >
    <div class="col-sm-3">
      <div class="widget style1 yellow-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-cubes fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> 产品分类 </span>
            <h2 class="font-bold"><%=@productclacount %></h2>

          </div>
        </div>
      </div>
    </div>
  </a>

  <a href=<%= seller_products_path(@seller) %> >
    <div class="col-sm-3">
      <div class="widget style1 red-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-calendar-o fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> 产品 </span>
            <h2 class="font-bold">3</h2>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a href=<%= seller_buycars_path(@seller) %> >
    <div class="col-sm-3">
      <div class="widget style1 red-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-calendar-o fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> 订单信息 </span>
            <h2 class="font-bold">0</h2>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="row">
  <a href=<%=seller_notices_path(@seller) %> >
    <div class="col-sm-3">
      <div class="widget style1 yellow-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-cubes fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> 通告 </span>
            <h2 class="font-bold"><%=@productclacount %></h2>

          </div>
        </div>
      </div>
    </div>
  </a>
  <a href=<%=seller_weixinmenus_path(@seller) %> >
    <div class="col-sm-3">
      <div class="widget style1 yellow-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-cubes fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> 微信自定义菜单 </span>
            <h2 class="font-bold">0</h2>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href=<%=seller_articles_path(@seller) %> >
    <div class="col-sm-3">
      <div class="widget style1 yellow-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-cubes fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> 文章管理 </span>
            <h2 class="font-bold">0</h2>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>


<%=render 'layerend' %>