<script>

    $(document).ready(function(){
        $('#smt').click(function(){
            if($('#name').val()==''){
                toastr.error('姓名不能为空');
                return false;
            }
            if($('#tel').val()==''){
                toastr.error('电话不能为空');
                return false;
            }
            if($('#region').val()==''){
                toastr.error('所属地区不能为空');
                return false;
            }
            if($('#address').val()==''){
                toastr.error('详细地址不能为空');
                return false;
            }
        });

    });

</script>
<div class="ibox-content form-horizontal m-t">
  <div class="wrapper wrapper-content p-xl" >
    <div class="form-horizontal m-t">
      <div class="row">
        <div class="col-sm-12">
          <span>订单号：</span>
          <span class="text-navy"><%= @buycar.ordernumber %></span>
          <hr style="margin-top:0px;">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">商家名称</label><span><%= @seller.name %></span>
        </div>
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">状态</label>
          <span>
            <% if @buycar.status == 0%>
                    未付款
                <% end %>
            <% if @buycar.status == 1%>
                    待发货
                <% end %>
            <% if @buycar.status == 2%>
                    待收货
                <% end %>
            <% if @buycar.status == 3%>
                    交易完成
                <% end %>
            <% if @buycar.status == 11%>
                    仅退款
                <% end %>
            <% if @buycar.status == 12%>
                    退货退款
            <% end %>
            <% if @buycar.status == 30%>
                    交易关闭
            <% end %>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">VIP</label>
          <span>
            <% if @buycar.shopstatic == 1%>
                    是
                <% end %>
            <% if @buycar.shopstatic == 0%>
                    否
            <% end %>
          </span>
        </div>
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">价格</label><span><%= @buycar.amount %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">购买数量</label>
          <span><%= @buycar.num %></span>
        </div>
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">下单时间</label><span><%= @buycar.created_at %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">消耗积分</label>
          <span><%= @buycar.minusbpnum.to_i %></span>
        </div>
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">获取积分</label><span><%= @buycar.bpnum %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label style="width: 100px;">备注</label>
          <span><%= @buycar.remark %></span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">收货人</label>
          <span><%= @receives.name %></span>
        </div>
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">电话</label><span><%= @receives.tel %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">地区</label>
          <span><%= @receives.region %></span>
        </div>
        <div class="col-sm-6 text-left">
          <label style="width: 100px;">详细地址</label><span><%= @receives.address %></span>
        </div>
      </div>
      <hr>
      <div class="table-responsive m-t">
        <table class="table invoice-table">
          <thead>
          <tr>
            <th>快递公司</th>
            <th>单号</th>
          </tr>
          </thead>
          <tbody>
          <% @logisticorders.each do |f| %>
              <tr>
                <td><%= f.logistic.logistic%></td>
                <td><%= f.ordernumber%></td>
              </tr>
          <%end%>
          </tbody>
        </table>
      </div>
      <%if @retoforder != nil%>
          <hr>
          <div class="chat-discussion">
            <div class="chat-messageright">
              <div class="message">
                <div class="message-author" style="font-weight: bold;font-size: 26px"> 用户发起了
                  <b style="color: #1c84c6;">
                    <% if @retoforder.rettype < 10%>
                        退款
                    <% end %>
                    <% if (@retoforder.rettype > 10) && (@retoforder.rettype < 20)%>
                        退货退款
                    <% end %>
                    <% if @retoforder.rettype > 30%>
                        交易关闭
                    <% end %>
                  </b>
                </div>
                <span class="message-content" style="color: #ac2925;font-size: 23px;font-weight: bold;">
                    退款金额:¥ <span ><%=@retoforder.retmoney%></span>
                </span>
                <span class="message-content" style="font-size: 20px">
                  原因:
                  <span style="font-size: 20px">
                    <%if @retcause != nil%>
                        <%=@retcause.label%>
                    <%else%>
                        <%=@retoforder.other%>
                    <%end%>
                  </span>
                </span>
                <span class="message-content" style="font-size: 20px">
                  <%= @retoforder.retcomment%>
                  <% if @retoforder.retcomment == ""%>
                        <span style="color: #bf800c">用户未填写</span>
                  <% end %>
                </span>
              </div>
            </div>
            <% if @retoforder.rettype == 2 %>
                <div class="chat-messageleft">
                  <div class="message">
                    <div class="message-author"> 商家</div>
                    <span class="message-content">
                      <%= link_to "同意",[:setretok,@seller,@buycar, @retoforder],class: "btn btn-w-m btn-success " %>&nbsp;
                      <%= link_to "拒绝",[:setretno,@seller,@buycar, @retoforder],class: "btn btn-w-m btn-danger" %>
                    </span>
                  </div>
                </div>
            <% elsif @retoforder.rettype == 11%>
                <%= form_for([@seller,@buycar,@retoforder],:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">收货人姓名:</label>
                      <div class="col-sm-6">
                        <%= f.text_field :name,class:"form-control",id:'name'%>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">电话:</label>
                      <div class="col-sm-6">
                        <%= f.text_field :tel,class:"form-control",id:'tel'%>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">所属省份:</label>
                      <div class="col-sm-6">
                        <%= f.text_field :region,class:"form-control",id:'region'%>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">详细地址:</label>
                      <div class="col-sm-6">
                        <%= f.text_field :address,class:"form-control" ,id:'address'%>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label"></label>
                      <div class="col-sm-6 text-right">
                        <%= f.submit '确定',class: "btn btn-w-m btn-primary",id:'smt' %>
                      </div>
                    </div>
                <%end%>
            <%elsif @retoforder.rettype != 31 || @retoforder.rettype != 32%>
                <div class="chat-messageleft">
                  <div class="message">
                    <div class="message-author" style="font-weight: bold;font-size: 26px"> 商家</div>
                    <span class="message-content">
                      <div class="btn btn-w-m btn-success " >同意</div>
                    </span>
                  </div>
                </div>
            <%end%>
            <% if @retoforder.rettype < 10%>
                <% if @retoforder.rettype >= 3%>
                    <div class="chat-messageleft">
                      <div class="message">
                        <div class="message-author" style="font-weight: bold;font-size: 26px"> 商家</div>
                        <span class="message-content" style="color: #ac2925;font-size: 20px">
                          退款完成
                        </span>
                      </div>
                    </div>
                <%end%>
            <%end%>
            <% if @retoforder.rettype > 10%>
                <% if @retoforder.rettype >= 12%>
                    <div class="chat-messageleft">
                      <div class="message">
                        <div class="message-author" style="font-weight: bold;font-size: 26px"> 商家</div>
                        <span class="message-content" >
                          收货人：<%=@retoforder.name%>&nbsp;&nbsp;&nbsp;电话：<%=@retoforder.tel%>
                        </span>
                        <span class="message-content" >
                          地址：<%=@retoforder.region%>&nbsp;<%=@retoforder.address%>
                        </span>
                      </div>
                    </div>
                    <% if @retoforder.rettype == 12%>
                        <div class="chat-messageright">
                          <div class="message">
                            <div class="message-author" style="font-weight: bold;font-size: 26px"> 用户</div>
                            <span class="message-content" style="color: #ac2925;font-size: 20px">
                              等待用户发货
                            </span>
                          </div>
                        </div>
                    <%end%>
                <%end%>
                <% if @retoforder.rettype >= 13%>
                    <div class="chat-messageright">
                      <div class="message">
                        <div class="message-author" style="font-weight: bold;font-size: 26px"> 用户已发货</div>
                        <span class="message-content" style="font-size: 20px">
                          快递公司：<%=@retoforder.logisticname%>
                        </span>
                        <span class="message-content" style="font-size: 20px">
                          快递单号：<%=@retoforder.logisticnum%>
                        </span>
                      </div>
                    </div>
                    <% if @retoforder.rettype == 13%>
                        <div class="chat-messageleft">
                          <div class="message">
                            <div class="message-author" style="font-weight: bold;font-size: 26px"> 商家</div>
                            <span class="message-content" style="color: #ac2925;font-size: 20px">
                              <%= form_for @retoforder, url: {action: "setsellererr"} ,method: "post", html: {class: "form-horizontal m-t"} do |f| %>
                                  <%= f.hidden_field :id,class:"form-control"%>
                                  <div class="form-group">
                                    <label class="col-sm-3 control-label" style="width: inherit;padding-right: 0px;">原因：</label>
                                    <div class="col-sm-6" style="padding-left: 0px;">
                                      <%= f.text_field :sellertext,class:"form-control"%>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="col-sm-6">
                                      <%= link_to "同意",[:setlogisticok,@seller,@buycar, @retoforder],class: "btn btn-w-m btn-success " %>&nbsp;<%= f.submit "拒绝" ,class: "btn btn-w-m btn-danger"%>
                                    </div>
                                  </div>
                              <% end %>
                            </span>
                          </div>
                        </div>
                    <%end%>
                <%end%>
                <% if @retoforder.rettype == 14%>
                    <div class="chat-messageleft">
                      <div class="message">
                        <div class="message-author" style="font-weight: bold;font-size: 26px"> 商家</div>
                        <span class="message-content" style="color: #ac2925;font-size: 20px">
                          退款完成
                        </span>
                      </div>
                    </div>
                <%end%>
            <%end%>
            <% if @retoforder.rettype == 33%>
                <div class="chat-messageleft">
                  <div class="message">
                    <div class="message-author" style="font-weight: bold;font-size: 26px"> 商家</div>
                    <span class="message-content" style="color: #ac2925;font-size: 20px">
                      商家拒绝了退款请求
                    </span>
                  </div>
                </div>
            <%end%>
          </div>
      <%end%>
    </div>
  </div>
</div>