<%= render 'layerbegin' %>
<script>
$(document).ready(function(){
    $(".btnclick").click(function(){
        buyid=this.type;
        layer.open({
            type: 2,
            title: '物流单号管理',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area : ['800px' , '520px'],
            content: 'buycars/'+this.type+'/logisticbuycar/index',
            end: function(){
                $.ajax({
                    async : false,
                    url : "./buycars/editstatus",
                    type : "GET",
                    dataType : 'jsonp',
                    jsonp : 'callback',
                    data : {
                        "id" : buyid
                    },
                    timeout : 5000,
                    success : function(jsonstr) {
                        window.location.reload();

                    },
                    error : function(xhr) {
                        toastr.error("错误，请检查网络");
                    }
                });
            }
        });
    })
});
</script>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>订单信息</h3>
    </div>
    <div class="ibox-content">
      <table class="table table-hover table-bordered text-center">
        <thead>
        <tr>
          <th class="text-center">价格</th>
          <th class="text-center">订单状态</th>
          <th class="text-center">订单号</th>
          <th class="text-center">备注</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @buycars.each do |f| %>
            <tr>
              <td><%= f.amount %></td>
              <td>
                <% if f.status == 0%>
                    未付款
                <% end %>
                <% if f.status == 1%>
                    待确认付款
                <% end %>
                <% if f.status == 2%>
                    待发货
                <% end %>
                <% if f.status == 3%>
                    待收货
                <% end %>
                <% if f.status == 4%>
                    交易完成
                <% end %>
                <% if f.status == 11%>
                    仅退款
                <% end %>
                <% if f.status == 12%>
                    退货退款
                <% end %>
                <% if f.status == 30%>
                    交易关闭
                <% end %>
              </td>
              <td><%= f.ordernumber %></td>
              <td><%= f.remark %></td>
              <td>
              <% if (f.status == 0) || (f.status == nil) %>
                <%= link_to '删除', [@seller,f], method: :delete, data: { confirm: '确认删除?' } %>
              <% end %>
              <% if f.status == 2%>
                <a class="btnclick" type=<%= f.id%>>发货</a>
              <% end %>
                <%= link_to '查看', edit_seller_buycar_path(@seller,f) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to "返回",seller_path(@seller),class: "btn btn-w-m btn-info " %>
      <br>
      <div id="nav">
        <input type="hidden" name="page" value=<%= @pagenum%>>
        <nav style="text-align: center">
          <ul class="pagination">
            <% if (params[:page].to_i == 1) || (params[:page] == nil)%>
                <li class="disabled"><a>首页</a></li>
                <li class="disabled"><a>上一页</a></li>
            <% else %>
                <li><a href=<%= seller_buycars_path(@seller)  + '?page=1'%> >首页</a></li>
                <li><a href=<%= seller_buycars_path(@seller)  + '?page='+(params[:page].to_i - 1).to_s %>>上一页</a></li>
            <% end %>
            <li class="disabled"><a>当前为第<%= params[:page] ? params[:page] : 1 %>页 共<%= @pagenum %>页</a></li>
            <% if (params[:page].to_i == @pagenum) || ((params[:page] == nil) && (@pagenum == 1))%>
                <li class="disabled"><a>下一页</a></li>
                <li class="disabled"><a>末页</a></li>
            <% else %>
                <li><a href=<%=  seller_buycars_path(@seller)  + '?page=' + ((params[:page] ? params[:page].to_i : 1) + 1).to_s %> >下一页</a></li>
                <li><a href=<%=  seller_buycars_path(@seller) + '?page=' + @pagenum.to_s %>>末页</a></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<%=render 'layerend' %>
